.logo {
    width: 70 px;
    margin: 5 px;
}
header {
    background-color: #9E8279;
    padding: 20 px;
}

nav{
    display: inline-block;
    margin-top: -20 px;
}
.button {
    text-decoration: none;
    background-color: #ffffff;
    color: #9E8279;
    padding: 10 px 25 px;
    border-radius: 10 px;
    margin-right: 20 px;
    
    
}
main img {
    width: 120 px;
}
.card{
    border: 1 px solid grey;
    width: 180 px;
    padding: 15 px;
    background-color: #9E8279;
    display: inline-block;
    margin-right: 10 px;
}
body{
    background-color: #9e8279b6;
}
.workers{
    width: 300 px;
    border: 2 px solid grey;
    float: left;
    margin-right: 15 px ;
}
.galeri{
    margin-top: 100 px;
    text-align: center;
}
.galeri img{
    width: 300 px;
    height: 250 px;
    border: 2 px solid grey;
}
footer{
    background-color: #9E8279;
    padding: 10 px;
}
table{
     font-size: 20 px;
    text-align: center;
    border:1 px solid grey;
}
td{
    border: 1 px solid grey;
}
